.quote-wrapper {
  text-align: center;
  padding-block: 5%;
  padding-inline: 12%;
}

h2 {
  font-size: 60px;
}

p {
  font-size: 30px;
  width: 100%;
}

.loading {
  padding-block: 10%;
  font-weight: 800;
  text-align: center;
}

.error {
  padding-block: 10%;
  font-weight: 800;
  text-align: center;
}
